.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--quaternary-color)
  );
}

.landing-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#landing-page-title {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 2.2rem;
  color: var(--secondary-color);
  z-index: 2;

  animation: fadeInDown 1s ease;
}

#landing-page-slogan {
  display: flex;
  flex-direction: column;
  animation: fadeInUp 1s ease;
}

#slogan {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: 300;
}

#sub-slogan {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 300;
  margin-top: 0.5rem;
}

.get-started-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fadeInUp 1s ease;
  margin: 1rem 0;
  cursor: pointer;
  text-decoration: none;
}

.get-started-btn:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fadeInUp 1s ease;
  margin: 1rem 0;
}

.app-examples {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.app-example {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  animation: app-example-slide 1s ease forwards;
}

.app-example img {
  width: 80%;
}

.app-example-description {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-example-description svg {
  margin-left: 0.5rem;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes app-example-slide {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (min-width: 768px) {
  .app-examples {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .app-example img {
    width: 80%;
  }

  .app-example p {
    margin-top: 0.3rem;
  }
}
