.pinned-notes,
.other-notes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.notes-section.grid-view {
  padding: 0 1rem;
  color: var(--secondary-color);
  font-size: 1.8rem;
  text-align: left;
  display: flex;
}

.notes-section.list-view {
  padding: 0 1rem;
  color: var(--secondary-color);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.empty-notes.grid-view {
  margin: 0 3.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.empty-notes.list-view {
  margin: 0 3.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-notes {
  font-size: 1.2rem;
  color: var(--secondary-color);
}
