.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.fab-icon {
  transition: transform 0.2s ease-in-out;
}

.fab-icon.open {
  transform: rotate(45deg);
}

.fab-icon {
  width: 50%;
}

.fab-options {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  opacity: 0; /* Initially hide */
  transition: opacity 0.2s ease-in-out; /* Add transition */
}

.fab-options.open {
  opacity: 1; /* Show when open */
}
