.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.fab-icon {
  transition: transform 0.2s ease-in-out;
}

.fab-icon.open {
  transform: rotate(45deg);
}

.fab-icon {
  width: 50%;
}

.fab-options {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 15%;
  transform: translateY(20px);
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s, transform 0.3s ease;
}

.fab-options.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.3s ease, visibility 0s linear, transform 0.3s ease;
}
