.archived-notes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.archived-notes-section.grid-view {
  padding: 0 1rem;
  color: var(--secondary-color);
  font-size: 1.8rem;
  text-align: left;
  display: flex;
}

.archived-notes-section.list-view {
  padding: 0 1rem;
  color: var(--secondary-color);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.archived-notes-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
