.label-picker-options {
  margin: 1rem 0;
}

.label-picker-options select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em;
}

.label-picker-add-label input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.label-picker-add-label button,
.label-picker-options button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--tertiary-color);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.label-picker-add-label button:hover,
.label-picker-options button:hover {
  background-color: var(--primary-color);
}

.label-picker-add-label button:focus,
.label-picker-options button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
