.modal-overlay {
  position: fixed;
  top: 0;
  z-index: 3;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  margin: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.1s ease-in-out;
}

.close-button:hover {
  background-color: var(--quaternary-color);
}

.close-button img {
  width: 100%;
}

.modal-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.modal-content input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  border-radius: 5px;
}

.modal-content input::placeholder {
  color: var(--secondary-color);
}

.modal-title {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  color: var(--secondary-color);
}

.login-btn {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.login-btn:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}
