.note-label {
  margin: 1rem 0;
  padding: 0.3rem;
  background-color: #0e344f;
  color: var(--secondary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.note-label:hover {
  animation: custom-grow 0.3s forwards;
}

.note-label-name {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.note-label-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
