.drawer-option {
  margin: 1rem 0;
  padding: 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: flex-start;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
  color: var(--secondary-color);
}

.drawer-option:hover {
  background-color: var(--primary-color);
}

.drawer-option span {
  margin-left: 1rem;
}

/* Edit mode */
.drawer-option-edit-mode {
  display: flex;
  flex-direction: column;
}

.drawer-option-edit-labels {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drawer-option-edit-labels input {
  width: 100%;
  margin: 0 5px;
  background: transparent;
  outline: none;
  border: none;
  color: var(--secondary-color);
}

/* DrawerOption.css */
.drawer-option-update-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
}
