.drawer {
  width: 0;
  height: 100%;
  background-color: var(--drawer-color);
  color: var(--secondary-color);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.35s ease-in-out;
}

.drawer.open {
  width: 250px;
}

.drawer-contents {
  width: 100%;
  margin: 1rem 0;
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}

.logo span {
  font-size: 1.5rem;
  font-weight: 400;
}

.logo img {
  cursor: pointer;
}
