.drawer {
  width: 250px;
  height: 100%;
  background-color: var(--drawer-color);
  color: var(--secondary-color);
  position: fixed;
  z-index: 2;
  top: 0;
  left: -300px;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.drawer.open {
  left: 0;
}

.drawer-contents {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* make drawer scrollable */
}

.separator {
  width: 90%;
}

.logo {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}

.logo span {
  font-size: 1.5rem;
  font-weight: 400;
}

.logo img {
  cursor: pointer;
}

.drawer-options {
  padding: 1rem 0.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
}

.drawer-options-heading {
  font-size: 1.2rem;
}
