.notes {
  padding: 1rem;
  display: grid;
  gap: 20px;
  align-items: flex-start;
}

.notes.grid-view {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: flex-start;
}

.notes.list-view {
  grid-template-columns: repeat(1, minmax(300px, 1000px));
  justify-content: center;
}
