.note {
  position: relative;
  min-height: 150px;
  padding: 1rem;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.note-title {
  font-size: 1.3rem;
}

.note-date {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.pin-note {
  position: relative;
  margin: 0.5rem;
  padding: 0.3rem;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, background-color 0.2s ease;
}

.paint-note {
  margin: 0.5rem;
  padding: 0.3rem;
  position: absolute;
  bottom: 0px;
  left: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, background-color 0.2s ease;
}

.archive-note {
  margin: 0.5rem;
  padding: 0.3rem;
  position: absolute;
  bottom: 0px;
  left: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, background-color 0.2s ease;
}

.delete-note {
  margin: 0.5rem;
  padding: 0.3rem;
  position: absolute;
  bottom: 0px;
  left: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, background-color 0.2s ease;
}

.pin-note.hover,
.paint-note.hover,
.archive-note.hover,
.delete-note.hover {
  opacity: 1;
}

.pin-note:hover,
.paint-note:hover,
.archive-note:hover,
.delete-note:hover {
  background-color: var(--tertiary-color);
}

.tooltip-text {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  text-align: center;
  background-color: #526d82;
  color: #fff;
  padding: 0.2rem;
  border-radius: 5px;
}

.tooltip-text.hover {
  display: block;
}
