.note-item {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
}

.note-item-name {
  font-weight: 600;
  padding: 2px 5px;
  margin-bottom: 0.5rem;
}

.note-item-details {
  padding: 2px 5px;
}
